@font-face {
  font-family: 'Bushiroad';
  src: url('/fonts/bushiroad.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'BrushScriptStd';
  src: url('/fonts/BrushScriptStd.otf') format('opentype');
  font-display: swap;
}

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bushiroad', sans-serif;
  }
