form {
  font-size: 25px;
  padding: 7px;
  position: absolute;
  top: 20px;
  transform: translateX(-50%);
  left: 50%;
  width: 10em;
  border: 3px solid #a4a78a;
  background-color: #2d2b2e;
  color: white;
  display: flex;
  opacity: 1;
  transition: opacity 500ms;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border-radius: 0;
  border: 0;
  padding: 10px;
}

input[type="submit"] {
  background-color: #a4a78a;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
